{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <script src="{% static "blog/bower_components/jquery/dist/jquery.js" %}"></script>
        <script src="{% static "blog/dist/js/bootstrap.js" %}"></script>
        <script src="{% static "blog/bower_components/Chart.js/Chart.js" %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static "blog/dist/css/bootstrap.css" %}" />
    </head>
    <body>
        {% block menu %}
        <div class="container">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'home' %}">Man in the Middle</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {% if state = 'home' %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'home' %}">Home</a>
                            </li>
                            {% if state = 'news' %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'news' %}">External News</a>
                            </li>
                            {% if state = 'halfchan' %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'halfchan' %}">HalfChan News</a>
                            </li>
                            {% if state = 'post' %}
                            <li class="active">
                            {% else %}
                            <li>
                            {% endif %}
                                <a href="{% url 'post' %}">Posts</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        {% endblock %}
        <div style="margin-top: 4em;">
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
