{% extends "blog/base.html" %}

{% block content %}

<div class="container">
        <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-8">
            <h3>Recent News</h3>
            <hr>
            {% for external in externals %}
                <div>
                    <a href="{{external.description}}" target="_blank">
                        <h3>{{external.title}}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h3>Statistics</h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">{{ nb_news }}</span>
                            External News
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ nb_terror }}</span>
                            Terrorism News
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ nb_refugee }}</span>
                            Refugee News
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ nb_posts }}</span>
                            Internal Posts
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2015 Company, Inc.</p>
    </footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51437627-2', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
